.block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.inline-grid {
  display: inline-grid;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
.align-content-around {
  align-content: space-around;
}
.align-content-between {
  align-content: space-between;
}
.align-content-center {
  align-content: center;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-evenly {
  align-content: space-evenly;
}
.align-content-start {
  align-content: flex-start;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-stretch {
  align-items: stretch;
}
.align-self-auto {
  align-self: auto;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-stretch {
  align-self: stretch;
}
.cursor-auto {
  cursor: auto;
}
.cursor-crosshair {
  cursor: crosshair;
}
.cursor-grab {
  cursor: grab;
}
.cursor-help {
  cursor: help;
}
.cursor-inherit {
  cursor: inherit;
}
.cursor-initial {
  cursor: initial;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-revert {
  cursor: revert;
}
.cursor-unset {
  cursor: unset;
}
.cursor-wait {
  cursor: wait;
}
.cursor-zoom-in {
  cursor: zoom-in;
}
.cursor-zoom-out {
  cursor: zoom-out;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-direction-col {
  flex-direction: column;
}
.flex-direction-col-reverse {
  flex-direction: column-reverse;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow {
  flex-grow: 1;
}
.flex-order-1 {
  order: 1;
}
.flex-order-2 {
  order: 2;
}
.flex-order-3 {
  order: 3;
}
.flex-order-4 {
  order: 4;
}
.flex-order-5 {
  order: 5;
}
.flex-order-6 {
  order: 6;
}
.flex-order-7 {
  order: 7;
}
.flex-order-8 {
  order: 8;
}
.flex-order-9 {
  order: 9;
}
.flex-order-10 {
  order: 10;
}
.flex-order-11 {
  order: 11;
}
.flex-order-12 {
  order: 12;
}
.flex-order-first {
  order: -9999;
}
.flex-order-last {
  order: 9999;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-stretch {
  justify-items: stretch;
}
.justify-self-auto {
  justify-self: auto;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-stretch {
  justify-self: stretch;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-visible {
  overflow: visible;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-y-visible {
  overflow-y: visible;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.bc-1 {
  border-color: rgba(0, 0, 0, 0.12);
}
.bc-top-1 {
  border-top-color: rgba(0, 0, 0, 0.12);
}
.bc-right-1 {
  border-right-color: rgba(0, 0, 0, 0.12);
}
.bc-left-1 {
  border-left-color: rgba(0, 0, 0, 0.12);
}
.bc-bottom-1 {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.bc-2 {
  border-color: rgba(0, 0, 0, 0.06);
}
.bc-top-2 {
  border-top-color: rgba(0, 0, 0, 0.06);
}
.bc-right-2 {
  border-right-color: rgba(0, 0, 0, 0.06);
}
.bc-left-2 {
  border-left-color: rgba(0, 0, 0, 0.06);
}
.bc-bottom-2 {
  border-bottom-color: rgba(0, 0, 0, 0.06);
}
.bg-fill-1 {
  background-color: #F5F5F5;
}
.bg-fill-2 {
  background-color: #F2F2F2;
}
.bg-white {
  background-color: #fff;
}
.br-0 {
  border-radius: 0px;
}
.br-top-left-0 {
  border-top-left-radius: 0px;
}
.br-top-right-0 {
  border-top-right-radius: 0px;
}
.br-bottom-left-0 {
  border-bottom-left-radius: 0px;
}
.br-bottom-right-0 {
  border-bottom-right-radius: 0px;
}
.br-2 {
  border-radius: 2px;
}
.br-top-left-2 {
  border-top-left-radius: 2px;
}
.br-top-right-2 {
  border-top-right-radius: 2px;
}
.br-bottom-left-2 {
  border-bottom-left-radius: 2px;
}
.br-bottom-right-2 {
  border-bottom-right-radius: 2px;
}
.br-4 {
  border-radius: 4px;
}
.br-top-left-4 {
  border-top-left-radius: 4px;
}
.br-top-right-4 {
  border-top-right-radius: 4px;
}
.br-bottom-left-4 {
  border-bottom-left-radius: 4px;
}
.br-bottom-right-4 {
  border-bottom-right-radius: 4px;
}
.br-8 {
  border-radius: 8px;
}
.br-top-left-8 {
  border-top-left-radius: 8px;
}
.br-top-right-8 {
  border-top-right-radius: 8px;
}
.br-bottom-left-8 {
  border-bottom-left-radius: 8px;
}
.br-bottom-right-8 {
  border-bottom-right-radius: 8px;
}
.br-10 {
  border-radius: 10px;
}
.br-top-left-10 {
  border-top-left-radius: 10px;
}
.br-top-right-10 {
  border-top-right-radius: 10px;
}
.br-bottom-left-10 {
  border-bottom-left-radius: 10px;
}
.br-bottom-right-10 {
  border-bottom-right-radius: 10px;
}
.br-12 {
  border-radius: 12px;
}
.br-top-left-12 {
  border-top-left-radius: 12px;
}
.br-top-right-12 {
  border-top-right-radius: 12px;
}
.br-bottom-left-12 {
  border-bottom-left-radius: 12px;
}
.br-bottom-right-12 {
  border-bottom-right-radius: 12px;
}
.br-16 {
  border-radius: 16px;
}
.br-top-left-16 {
  border-top-left-radius: 16px;
}
.br-top-right-16 {
  border-top-right-radius: 16px;
}
.br-bottom-left-16 {
  border-bottom-left-radius: 16px;
}
.br-bottom-right-16 {
  border-bottom-right-radius: 16px;
}
.br-20 {
  border-radius: 20px;
}
.br-top-left-20 {
  border-top-left-radius: 20px;
}
.br-top-right-20 {
  border-top-right-radius: 20px;
}
.br-bottom-left-20 {
  border-bottom-left-radius: 20px;
}
.br-bottom-right-20 {
  border-bottom-right-radius: 20px;
}
.bs-dashed {
  border-style: dashed;
}
.bs-top-dashed {
  border-top-style: dashed;
}
.bs-right-dashed {
  border-right-style: dashed;
}
.bs-left-dashed {
  border-left-style: dashed;
}
.bs-bottom-dashed {
  border-bottom-style: dashed;
}
.bs-none {
  border-style: none;
}
.bs-top-none {
  border-top-style: none;
}
.bs-right-none {
  border-right-style: none;
}
.bs-left-none {
  border-left-style: none;
}
.bs-bottom-none {
  border-bottom-style: none;
}
.bs-solid {
  border-style: solid;
}
.bs-top-solid {
  border-top-style: solid;
}
.bs-right-solid {
  border-right-style: solid;
}
.bs-left-solid {
  border-left-style: solid;
}
.bs-bottom-solid {
  border-bottom-style: solid;
}
.bw-0 {
  border-width: 0px;
}
.bw-top-0 {
  border-top-width: 0px;
}
.bw-right-0 {
  border-right-width: 0px;
}
.bw-left-0 {
  border-left-width: 0px;
}
.bw-bottom-0 {
  border-bottom-width: 0px;
}
.bw-1 {
  border-width: 1px;
}
.bw-top-1 {
  border-top-width: 1px;
}
.bw-right-1 {
  border-right-width: 1px;
}
.bw-left-1 {
  border-left-width: 1px;
}
.bw-bottom-1 {
  border-bottom-width: 1px;
}
.bw-2 {
  border-width: 2px;
}
.bw-top-2 {
  border-top-width: 2px;
}
.bw-right-2 {
  border-right-width: 2px;
}
.bw-left-2 {
  border-left-width: 2px;
}
.bw-bottom-2 {
  border-bottom-width: 2px;
}
.color-1 {
  color: rgba(0, 0, 0, 0.84);
}
.color-2 {
  color: rgba(0, 0, 0, 0.72);
}
.color-3 {
  color: rgba(0, 0, 0, 0.6);
}
.color-4 {
  color: rgba(0, 0, 0, 0.36);
}
.color-5 {
  color: rgba(0, 0, 0, 0.24);
}
.color-black {
  color: #000;
}
.color-primary {
  color: #0A70F5;
}
.color-white {
  color: #fff;
}
.fs-initial {
  font-style: initial;
}
.fs-italic {
  font-style: italic;
}
.fs-normal {
  font-style: normal;
}
.fs-oblique {
  font-style: oblique;
}
.fs-unset {
  font-style: unset;
}
.fw-bold {
  font-weight: 700;
}
.fw-medium {
  font-weight: 500;
}
.fw-regular {
  font-weight: 400;
}
.fw-semi-bold {
  font-weight: 600;
}
.fz-12 {
  font-size: 12px;
}
.fz-14 {
  font-size: 14px;
}
.fz-16 {
  font-size: 16px;
}
.fz-18 {
  font-size: 18px;
}
.fz-20 {
  font-size: 20px;
}
.fz-24 {
  font-size: 24px;
}
.fz-30 {
  font-size: 30px;
}
.h-full {
  height: 100%;
}
.h-half {
  height: 50%;
}
.m-0 {
  margin: 0px;
}
.m-top-0 {
  margin-top: 0px;
}
.m-right-0 {
  margin-right: 0px;
}
.m-left-0 {
  margin-left: 0px;
}
.m-bottom-0 {
  margin-bottom: 0px;
}
.m-2 {
  margin: 2px;
}
.m-top-2 {
  margin-top: 2px;
}
.m-right-2 {
  margin-right: 2px;
}
.m-left-2 {
  margin-left: 2px;
}
.m-bottom-2 {
  margin-bottom: 2px;
}
.m-4 {
  margin: 4px;
}
.m-top-4 {
  margin-top: 4px;
}
.m-right-4 {
  margin-right: 4px;
}
.m-left-4 {
  margin-left: 4px;
}
.m-bottom-4 {
  margin-bottom: 4px;
}
.m-8 {
  margin: 8px;
}
.m-top-8 {
  margin-top: 8px;
}
.m-right-8 {
  margin-right: 8px;
}
.m-left-8 {
  margin-left: 8px;
}
.m-bottom-8 {
  margin-bottom: 8px;
}
.m-10 {
  margin: 10px;
}
.m-top-10 {
  margin-top: 10px;
}
.m-right-10 {
  margin-right: 10px;
}
.m-left-10 {
  margin-left: 10px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-12 {
  margin: 12px;
}
.m-top-12 {
  margin-top: 12px;
}
.m-right-12 {
  margin-right: 12px;
}
.m-left-12 {
  margin-left: 12px;
}
.m-bottom-12 {
  margin-bottom: 12px;
}
.m-16 {
  margin: 16px;
}
.m-top-16 {
  margin-top: 16px;
}
.m-right-16 {
  margin-right: 16px;
}
.m-left-16 {
  margin-left: 16px;
}
.m-bottom-16 {
  margin-bottom: 16px;
}
.m-20 {
  margin: 20px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-right-20 {
  margin-right: 20px;
}
.m-left-20 {
  margin-left: 20px;
}
.m-bottom-20 {
  margin-bottom: 20px;
}
.p-0 {
  padding: 0px;
}
.p-top-0 {
  padding-top: 0px;
}
.p-right-0 {
  padding-right: 0px;
}
.p-left-0 {
  padding-left: 0px;
}
.p-bottom-0 {
  padding-bottom: 0px;
}
.p-2 {
  padding: 2px;
}
.p-top-2 {
  padding-top: 2px;
}
.p-right-2 {
  padding-right: 2px;
}
.p-left-2 {
  padding-left: 2px;
}
.p-bottom-2 {
  padding-bottom: 2px;
}
.p-4 {
  padding: 4px;
}
.p-top-4 {
  padding-top: 4px;
}
.p-right-4 {
  padding-right: 4px;
}
.p-left-4 {
  padding-left: 4px;
}
.p-bottom-4 {
  padding-bottom: 4px;
}
.p-8 {
  padding: 8px;
}
.p-top-8 {
  padding-top: 8px;
}
.p-right-8 {
  padding-right: 8px;
}
.p-left-8 {
  padding-left: 8px;
}
.p-bottom-8 {
  padding-bottom: 8px;
}
.p-10 {
  padding: 10px;
}
.p-top-10 {
  padding-top: 10px;
}
.p-right-10 {
  padding-right: 10px;
}
.p-left-10 {
  padding-left: 10px;
}
.p-bottom-10 {
  padding-bottom: 10px;
}
.p-12 {
  padding: 12px;
}
.p-top-12 {
  padding-top: 12px;
}
.p-right-12 {
  padding-right: 12px;
}
.p-left-12 {
  padding-left: 12px;
}
.p-bottom-12 {
  padding-bottom: 12px;
}
.p-16 {
  padding: 16px;
}
.p-top-16 {
  padding-top: 16px;
}
.p-right-16 {
  padding-right: 16px;
}
.p-left-16 {
  padding-left: 16px;
}
.p-bottom-16 {
  padding-bottom: 16px;
}
.p-20 {
  padding: 20px;
}
.p-top-20 {
  padding-top: 20px;
}
.p-right-20 {
  padding-right: 20px;
}
.p-left-20 {
  padding-left: 20px;
}
.p-bottom-20 {
  padding-bottom: 20px;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.card {
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-h {
  display: flex;
  justify-content: center;
}
.flex-center-v {
  display: flex;
  align-items: center;
}
.flex-end-v-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-h-center {
  display: flex;
  justify-content: center;
}
.flex-h-justify {
  display: flex;
  justify-content: space-between;
}
.flex-item {
  flex: 1 1 0%;
}
.flex-item-auto {
  flex: 1 1 auto;
}
.flex-justify-v-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start-v-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-v-center {
  display: flex;
  align-items: center;
}
.flex-v-end {
  display: flex;
  align-items: flex-end;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.flexcol-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexcol-h-center {
  display: flex;
  align-items: center;
}
.flexcol-justify {
  display: flex;
  justify-content: space-between;
}
.flexcol-justify-h-center {
  display: flex;
  align-items: center;
}
.flexcol-v-center {
  display: flex;
  justify-content: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.m-h-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.m-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.m-h-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.m-h-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.m-h-2 {
  margin-left: 2px;
  margin-right: 2px;
}
.m-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.m-h-4 {
  margin-left: 4px;
  margin-right: 4px;
}
.m-h-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.m-v-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.m-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-v-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.m-v-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m-v-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.m-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-v-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.m-v-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.p-h-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.p-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-h-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.p-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.p-h-2 {
  padding-left: 2px;
  padding-right: 2px;
}
.p-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-h-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.p-h-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.p-v-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.p-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-v-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.p-v-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-v-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.p-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-v-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.p-v-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.background-position-center {
  background-position: center;
}
.background-size-cover {
  background-size: cover;
}
.background-repeat-no-repeat {
  background-repeat: no-repeat;
}
.white-space-nowrap {
  white-space: nowrap;
}
.text-decoration-none {
  text-decoration: none;
}
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}
.p-24 {
  padding: 24px;
}
.p-top-24 {
  padding-top: 24px;
}
.p-bottom-24 {
  padding-bottom: 24px;
}
.p-left-24 {
  padding-left: 24px;
}
.p-right-24 {
  padding-right: 24px;
}
.m-24 {
  margin: 24px;
}
.m-top-24 {
  margin-top: 24px;
}
.m-bottom-24 {
  margin-bottom: 24px;
}
.m-left-24 {
  margin-left: 24px;
}
.m-right-24 {
  margin-right: 24px;
}
.color-green {
  color: #00c853;
}
.color-red {
  color: #ff3d00;
}
.p-h-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.p-v-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.m-h-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.m-v-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.test-css {
  padding: 500px;
}
